{% extends 'layout.html.twig' %}

{% block page_title %}Cool Framework{% endblock %}

{% block content %}
        <form action="?action=addArticle" method="POST" name="form">
                <label for="title">Title</label>
                <input type="text" name="title" id="title">
                <select name="select" id="monselect">
                    <option value="valeur1">Valeur 1</option> 
                    <option value="valeur2" selected>Valeur 2</option>
                    <option value="valeur3">Valeur 3</option>
                </select>
            <input type="file"accept=".jpg, .jpeg, .png">
                <label for="content">Contenu</label>
            <textarea name="content" rows="10" cols="50">
                Vous pouvez écrire quelque
                chose ici.
            </textarea>
            <button type="submit" class="btn btn-primary">Post</button>
        </form>
{% endblock %}
{% block script %}

{% endblock %}
