{% extends 'layout.html.twig' %}

{% block page_title %}Cool Framework{% endblock %}

{% block style %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.7.6/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.7.6/css/froala_style.min.css" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block content %}
    <div class="formArticle">
        <label for="title">Titre</label>
        <input class="title" type="text" name="title" id="title">
        {% if user == "moderator" %}
            <select class="type" name="type">
                <option>article</option>
                <option>recette</option>
            </select>
        {% else %}
            <p class="type">Recette</p>
            <input type="hidden" value="recette" name="type">
        {% endif %}
        <select class="tag select none" name="tag">
            <option>Plats cuisinés</option>
            <option>Légumes</option>
            <option>Tartes salées</option>
            <option>Gâteaux</option>
            <option>Biscuits</option>
            <option>Tartes sucrées</option>
            <option>Bubble Tea</option>
            <option>Thé Glacé</option>
            <option>Smoothie</option>
        </select>
        <input class="picture" type="file" accept=".jpg, .jpeg, .png" id="picture" name="picture">
        <label for="content">Contenu</label>
        <textarea class="content" name="content" rows="10" cols="50"></textarea>
        <button class="addinput none">Ajouter un Ingredient</button><br>
        <div class="ingredients"></div>
        <button class="addArticle">Post</button>
    </div>
{% endblock %}
{% block script %}
    <script>
        if ("{{user}}" === "user") {
            var type = 'recette';
            console.log(type);
        } else {
            var type = "article";
        }
    </script>
    <script src="./node_modules/froala-editor/js/froala_editor.min.js"></script>
    <script src="assets/script/addArticle.js"></script>
{% endblock %}