{% extends 'layout.html.twig' %}
{% block style %}
    <link rel="stylesheet" href="assets/styles/history.css">
{% endblock %}
{% block content %}
    <main>
        <section>
            <div class="history-first-section flex row">
                <h1 class="title center">Comprendre le thé</h1>
                <div class="history-first-container">
                    <div class="img21-container">
                        <img class="img21" alt="coffee lemon and newspaper" src="assets/images/history/img_histoire.png">
                    </div>
                    <div class="style-container"></div>
                </div>
                <div>
                    <h2 class="text-title">L'histoire du thé</h2>
                    <p class="text-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus a unde ullam possimus quas iusto labore officiis sed aliquam accusamus, error magnam consequuntur quos enim ipsa omnis nesciunt quasi ex!</p>
                </div>
            </div>
        </section>
        <section>
            <h2 class="title center">Les pays producteurs</h2>
            <div class="history-grid">
                <div class="grid-div">
                    <img src="./assets/images/history/japon.jpg">
                    <div>
                        <h3>Japon</h3>
                    </div>
                </div>
                <div class="grid-div">
                    <img src="./assets/images/history/nepal.jpg">
                    <div>
                        <h3>Népal</h3>
                    </div>
                </div>
                <div class="grid-div">
                    <img src="./assets/images/history/Chine.jpg">
                    <div>
                        <h3>Chine</h3>
                    </div>
                </div>
                <div class="grid-div">
                    <img src="./assets/images/history/srilanka.jpg">
                    <div>
                        <h3>Sri Lanka</h3>
                    </div>
                </div>
                <div class="grid-div">
                    <img src="./assets/images/history/inde.jpg">
                    <div>
                        <h3>Inde</h3>
                    </div>
                </div>
                <div class="grid-div">
                    <img src="./assets/images/history/afrique.jpg">
                    <div>
                        <h3>Afrique</h3>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="history-first-section  flex column">
                <h1 class="title center">Thé et santé</h1>
                <div class="history-first-container">
                    <div class="img21-container-left">
                        <img class="img21" alt="coffee lemon and newspaper" src="assets/images/history/sante.png">
                    </div>
                    <div class="style-container-right"></div>
                </div>
                <div>
                    <h2 class="text-title">L'histoire du thé</h2>
                    <p class="text-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus a unde ullam possimus quas iusto labore officiis sed aliquam accusamus, error magnam consequuntur quos enim ipsa omnis nesciunt quasi ex!</p>
                </div>
            </div>
        </section>
    </main>
{% endblock %}