{% extends 'layout.html.twig' %}

{% block page_title %}Cool Framework{% endblock %}

{% block content %}
   {% if username is not defined %}
<div class="loginpopup">
            <a class="login">Login</a>
          </div>
          <div class="registerpopup">
            <a class="register">Register</a>
          </div>
            {% endif %}
<h1>
  Welcome to the Cool Framework<br>
  <small>By SUP'Internet DEV 2020</small>
</h1>
{% endblock %}
  {% block script %}
    <script src="assets/script/home.js"></script>
  {% endblock %}
