{% extends 'layout.html.twig' %}

{% block page_title %}Cool Framework{% endblock %}
{% block content %}
    <section class=" home-content">
        <div class="home-item first-item">
            <div class="first-item-content">
                <h1>Testons le thé</h1>
                <h4>Testhé & approuvé par nos soins</h4>
                <a href="#news" class="btn btn-outline-info">
                    Découvrir</a>

            </div>
        </div>

        <div class="home-item news-item" id="news">
            <div class="news-content">
                <div class="left-side-news">
                    <div class="news-title">
                        <h1>Nouveauthés</h1>
                        <div class="underline"></div>
                    </div>
                    <p class="news-text">
                        Voici un lot placé sous le signe de la gourmandise avec des notes fruitées, vanillées et de noisette qui évoluent sur un fond végétal et pyrogéné.<br>
                        Depuis quelques années, certains planteurs népalais s'éloignent des traditions pour créer des thés hors des sentiers battus. La vallée d’Ilam et Dhankuta, à l’est du Népal, sont des régions dont les plantations se démarquent des grandes plantations Népalaises. Là-bas, on produit un sixième du thé népalais en suivant le procédé orthodoxe : les feuilles de thé sont gardées entières, ce qui garantit une grande richesse aromatique.
                        <br>
                        <br>
                        <a href="?action=actualithe">Découvrir</a>
                    </p>
                </div>
                <div class="right-side-news">
                    <img src="https://image.afcdn.com/recipe/20161118/17659_w420h344c1cx2144cy1424.jpg">
                </div>
            </div>
        </div>

        <div class="home-item last-test">
            <div class="last-test-content">
                <div class="last-test-title">
                    <h1>Derniers tests</h1>
                    <div class="last-test-underline"></div>
                </div>
                <div class="my-tests">
                    <div class="my-test">
                        <img src="https://img1.topsante.com/var/topsante/storage/images/1/3/1/1/1311381/le-the-vert-antioxydant-allie-minceur_width1024.jpg">
                        <div class="my-test-content">
                            <h4>TEST DU THÉ VERT</h4>
                            <p>Aucune autre plante n’a jamais été aussi étudiée par les scientifiques que le thé vert. Selon une étude japonaise, le thé vert offre des propriétés vérifiées contre pas moins de 60 maladies et est capable de guérir 20 maladies.
                            </p>

                        </div>
                    </div>
                    <div class="my-test">
                        <img src="https://www.palaisdesthes.com/pub/media/catalog/product/cache/c687aa7517cf01e65c009f6943c2b1e9/c/3/c3305-40930-65rpgnnrln.jpg">
                        <div class="my-test-content">
                            <h4>GALETTE DE PU ERH</h4>
                            <p>Voici une galette de Pu Erh cuit du Viêtnam dans laquelle on retrouve des notes puissantes de cave, bois humide, bois sec, animal, très longs en bouche et soutenus par une texture délicieusement lisse et onctueuse.
                            </p>

                        </div>
                    </div>
                    <div class="my-test">
                        <img src="https://www.palaisdesthes.com/pub/media/wysiwyg/gastronomie/cocktails/cocktail-matcha-latte-large.jpg">
                        <div class="my-test-content">
                            <h4>Matcha</h4>
                            <p>
                                Le matcha utilisé dans les desserts japonais, autant pour son goût que pour la couleur qu’il donne aux préparations. Sa saveur végétale et légèrement amère se marie parfaitement aux goûts sucrés et leur apporte une touche de sophistication.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-item battle-item">
            <div class="tea-battle-content">
                <div class="tea-battle-title">
                    <h1>Tea battle</h1>
                    <div class="tea-battle-underline"></div>
                </div>
                <div class="tea-battle-subtitles">
                    <p></p>
                </div>
                <div class="tea-battle-articles">
                    <div class="first-article">
                        <img src="http://www.rivertea.com/blog/wp-content/uploads/2013/01/Black-Tea-is-Red-When-Brewed-700x325.jpg">
                        <h4>Camellia Assamica
                        </h4>
                        <p>La variété à grandes feuilles Camellia Sinensis variété Assamica, Bien qu’en terme de rendement cette variété soit plus productive,elle contient une grande concentration de tanins (goût amer) et offre des bienfaits pour la santé inférieurs à son homologue, la variété Sinensis.
                        </p>
                        <a href="?action=actualithe">Découvrir</a>
                    </div>
                    <div class="second-article">
                        <h4>Rooibos</h4>
                        <p>En Afrique du Sud, c’est la boisson reine généralement consommée avec du lait. On récolte les rameaux avec ses feuilles, on les passe dans des rouleuses pour y casser les fibres et ainsi commencer la fermentation.
                        </p>
                        <img src="http://cdn2.stylecraze.com/wp-content/uploads/2014/08/27-Benefits-Of-Rooibos-Tea-For-Your-Health-1.jpg">
                        <a href="?action=actualithe">Découvrir</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-item receipts-item">
            <div class="receips-title">
                <h1>Recettes</h1>
                <div class="receips-underline"></div>
            </div>
            <div class="receips-content">
                <div class="img-left-side">
                    <img src="./assets/images/home/the.jpg">
                </div>
                <div class="receips-right-side">
                    <div class="receips-right-side-content">
                        <h4>Ma Majesthé</h4>
                        <p>Bienfaits :<br>Stimulant contre la fatigue.<br>
                            Favorise la perte de poids.<br>
                            Action bénéfique dans la lutte contre le cancer.
                        </p>
                        <h5>Ingrédients</h5>
                        <ul>
                            <li>Sachet de thé vert</li>
                            <li>Eau</li>
                            <li>Citron</li>
                            <li>Miel</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}