{% extends 'layout.html.twig' %}

{% block page_title %}Cool Framework{% endblock %}
 {% block nav %}
   {% if username is not defined %}
          <div class="popup none"></div>
            <button class="login">Login</button>
            <button class="register">Register</button>
            {% endif %}
        {% endblock %}
        {% block content %}
<h1>
  Welcome to the Cool Framework<br>
  <small>By SUP'Internet DEV 2020</small>
</h1>
 {% for article in articles %}
          <article>
          {{article}}
          </article>
          {% endfor %}  
{% endblock %}
  {% block script %}
  {% if username is not defined %}
    <script src="assets/script/home.js"></script>
    <script src="assets/script/register.js"></script>
        {% endif %}
  {% endblock %}
