<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            {% block page_title %}{% endblock %}
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
        <link rel="stylesheet" href="assets/styles/style.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
        {% block style %}{% endblock %}
    </head>
    <body>
        <header>
            {% if username is defined %}
                <a href="?action=home">Home</a>
                <a href="?action=addArticle">add an article</a>
                <a href="?action=disconnect">disconnect</a>
            {% endif %}
            {% block nav %}
                <a href="?action=home"><img class="logo" src="./assets/images/layout/logoTesthe.png" alt=""></a>
                <div class="menu">
                    <div class="dropdown">
                        <span class="menu-items" id="dropdownMenuButton" data-toggle="dropdown" data-hover="dropdown" aria-haspopup="true" aria-expanded="false">actualithés<span class="caret"></span><img class="little-arrow" src="assets/images/layout/chevron-bas.png"></span>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item dropdown-items" href="?action=actualithe">
                                <h4>Test</h4>
                            </a>
                            <a class="dropdown-item dropdown-items" href="?action=actualithe#inteaview">
                                <h4>Inteaview</h4>
                            </a>
                            <a class="dropdown-item dropdown-items" href="#">
                                <h4>Tea battle</h4>
                            </a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <span class="menu-items" id="dropdownMenu2" data-toggle="dropdown" data-hover="dropdown" aria-haspopup="true" aria-expanded="false">degusthe<img class="little-arrow" src="assets/images/layout/chevron-bas.png"></i>
                    </span>
                    <div class="dropdown-menu dropdown-menu2" aria-labelledby="dropdownMenuButton">
                        <div class="dropdown-items">
                            <a class="dropdown-item" href="#">
                                <h4>Pats</h4>
                            </a>
                            <hr>
                            <a class="dropdown-item" href="#">Plats cuisinés</a>
                            <a class="dropdown-item" href="#">Légumes</a>
                            <a class="dropdown-item" href="#">Tartes</a>
                        </div>
                        <div class="dropdown-items">
                            <a class="dropdown-item" href="#">
                                <h4>Desserts</h4>
                            </a>
                            <hr>
                            <a class="dropdown-item" href="#">Gâteaux</a>
                            <a class="dropdown-item" href="#">Biscuits</a>
                            <a class="dropdown-item" href="#">Tartes</a>
                        </div>
                        <div class="dropdown-items">
                            <a class="dropdown-item" href="#">
                                <h4>Instant thé</h4>
                            </a>
                            <hr>
                            <a class="dropdown-item" href="#">Bubble tea</a>
                            <a class="dropdown-item" href="#">Thé glacé</a>
                            <a class="dropdown-item" href="#">Smoothie</a>
                        </div>
                    </div>
                </div>
                <span class="menu-items">histoire</span>
            </div>
            <div class="menu-right-items">
                <div class="search-bar">
                    {% if username is null %}
                        <i class="far fa-user printregisterbtn"></i>
                    {% else %}
                        <a href="?action=profile" class="far fa-user"></a>
                    {% endif %}
                    <i class="fas fa-search"></i>
                </div>
            </div>
        {% endblock %}
    </header>
    <div class="popup">
        <div class="password-content none">
            <div class="login-left-side">
                <h1>testhé</h1><br>
                <p>C'est votre première visite? Notre communauthé</p>
                <img src="assets/images/layout/theiere.png">
            </div>
            <div class="login-right-side">
                <div class="close-popup">
                    <i id="cross" class="fas fa-times"></i>
                </div>
                <div class="form-content">
                    <h1>Mot de passe oublié</h1>
                    <p class="blockSucess"></p>
                    <div class="login-infos login-password">
                        <label name="email" for="text">Email</label>
                        <input class="emailpassword" type="text" name="Email" placeholder="email">
                    </div>
                    <div name="div" class="login-bot">
                        <button class="forgotpasswordbtn btn btn-primary">Envoyer</button>
                        <a class="passwordNotForgoten">Mot de passe pas oublié</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="register-content none">
            <div class="register-left-side">
                <h1><img class="logo" src="./assets/images/layout/logoTestheBlanc.png" alt=""></h1><br>
                <p>Vous avez déjà un compte ?</p>
                <img class="img-theiere" src="./assets/images/layout/theiere2.png"><br>
                <button class="btn-register-left-side loginbtn">Se connecter</button>
            </div>
            <div class="register-right-side">
                <div class="close-popup">
                    <i id="cross" class="fas fa-times"></i>
                </div>
                <div class="form-content">
                    <h1>Crée un compte</h1>
                    <div class="register-infos register-password">
                        <label for="email">Adresse email</label>
                        <input type="email" class="emailinput" name="email" placeholder="entrer votre adresse email">
                        <p class="emailBlock"></p>
                    </div>
                    <div class="register-infos">
                        <label for="username">Nom d'utilisateur</label>
                        <input type="text" class="nicknameinput" name="username" placeholder="entrer votre nom d'utilisateur">
                        <p class="nickBlock"></p>
                    </div>
                    <div class="register-infos login-password">
                        <label for="password">Mot de passe</label>
                        <input type="password" class="passwordinput" name="password" placeholder="entrer votre mot de passe">
                        <p class="passBlock"></p>
                    </div>
                    <div class="register-bot">
                        <button name="hehe" class="btn registerbtn btn-primary">S'inscrire</button>
                    </div>
                </div>
            </div>
        </div>
        <div class=" none login-content ">
            <div class="login-left-side">
                <h1><img class="logo" src="./assets/images/layout/logoTestheBlanc.png" alt=""></h1><br>
                <p>Vous ne faites pas parti de notre
                    <br>
                    communauthé ? Rejoignez-nous !</p>
                <img class="img-theiere" src="assets/images/layout/theiere2.png"><br>
                <button class="btn-login-left-side printregisterbtn">S'inscrire</button>
            </div>
            <div class=" login-right-side">
                <div class="close-popup">
                    <i id="cross" class="fas fa-times"></i>
                </div>
                <p class=".blockSucess"></p>
                <div class="form-content">
                    <h1>Se connecter</h1>
                    <div class="login-infos">
                        <label for="username">Nom d'utilisateur</label>
                        <input type="text" class="login-username" placeholder="entrer votre nom d'utilisateur">
                        <p class="blockErrors"></p>
                    </div>
                    <div class="login-infos login-password">
                        <label for="password">Mot de passe</label>
                        <input type="password" class="login-password-field" placeholder="entrer votre mot de passe">
                    </div>
                    <div class="login-bot">
                        <button type="submit" class="login-btn btn btn-primary">Se connecter</button>
                        <a class="passwordForgoten">Mot de passe oublié ?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block content %}{% endblock %}
    <footer class="footer-item">
        <div class="footer-content">
            <div class="footer-infos">
                <h4>Information</h4><br><br>
                <ul class="list">
                    <li>A propos</li>
                    <li>Contact</li>
                    <li>Nos partenaires</li>
                    <li>La presse</li>
                </ul>
            </div>
            <div class="footer-navigation">
                <h4>Navigation</h4><br><br>
                <ul class="list">
                    <li>Actualithés</li>
                    <li>Dégusthé</li>
                    <li>Histoire</li>
                    <li>Mon compte</li>
                </ul>
            </div>
            <div class="footer-community">
                <h4>Communauthé</h4><br><br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo cupiditate officia a voluptas
                </p><br><br>
                <img src="https://i.pinimg.com/originals/61/87/63/618763f9b5319f0518b6c45b1f60b601.png">
                <img src="https://www.bostoncarkeys.com/wp-content/uploads/2017/01/facebook-icon.png">
                <img src="http://www.authormedia.com/wp-content/uploads/2013/04/pinterest_badge_red.png">

            </div>
            <div class="footer-newsletter">
                <h4>Newsletter</h4><br><br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo cupiditate officia
                </p>
            </div>
        </div>
    </footer>
    <script src="./assets/script/script.js"></script>
    <script src="./node_modules/jquery/dist/jquery.min.js"></script>
    {% if username is not defined %}
        <script src="./assets/script/home.js"></script>
    {% endif %}
    {% block script %}{% endblock %}
</body>
</html>