{% extends 'layout.html.twig' %}

{% block page_title %}Cool Framework{% endblock %}

{% block content %}
    gg ! Activez votre compte !
    <form action="?action=login">
        <input type="submit" value="Login"/>
    </form>
{% endblock %}
{% block script %}
    <script src="assets/script/createAccount.js"></script>
{% endblock %}