
section{
    margin:5vw;
}
.history-first-section{  
    margin-left:5vw;
    margin-right:5vw;
}
.history-first-container{
    margin-top:5vh;
    width: 100%;
    height: 32vh;
}
.title{
    font-size:5em;
}
.text-title{
    font-size:3em;
}
.text-content{
    margin-top:2vh;
    font-size:2em;
}
.center{
    text-align: center;
}
.img21-container{
    z-index: 1;
    right: 0;
    margin-right:10vw;
    width: 60%;
    position: absolute;
}
.img21{
    width: 100%;
}
.img21-container-left{
    z-index: 1;
    width: 60%;
    position: absolute;
}
.style-container{
    background-color:#FBF2F3;
    position: absolute;
    margin-top:7vh;
    width: 60%;
    height:22.5vh;
}
.style-container-right{
    background-color:#FBF2F3;
    position: absolute;
    margin-top:7vh;
    width: 60%;
    margin-left:20vw;
    height:22.5vh;
}
.history-grid{
    display: grid;
    grid-template-columns: repeat(1, 20vw);
}
.history-grid .grid-div{
    margin-top:5vh;
    border:1px solid black;
    width: 90vw;
    height: 30vh;
}
.grid-div div{
    background-color: white;
    opacity:0.4;
    margin:5%;
    width: 90%;
    height: 85%;
}
.grid-div img{
    position: absolute;
    width: 90vw;
    height: 30vh;
}
.grid-div h3{
    font-size:10em;
    text-align: center;
    padding-top: 5vh;
}
@media (min-width:641px)  { 
}
@media (min-width:961px)  { 
}

@media (min-width:1025px) { 
    .history-grid{
        display: grid;
        grid-template-columns: repeat(3, 20vw);
    }
}
@media (min-width:1281px) {  }