@font-face {
    font-family: "DomaineDispNar";
    src: url("font/DomaineDispNar-Regular.otf");
}

@font-face {
    font-family: "DomaineDispNar-bold";
    src: url("font/DomaineDispNar-Bold.otf");
}

@font-face {
    font-family: "DomaineNaro";
    src: url("font/DomaineDispNar-Semibold.otf");
}

@font-face {
    font-family: "Montserrat";
    src: url("font/Montserrat-Regular.ttf");
}

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

small
{
    color: purple;
}
.none{
    display: none;
}
.block{
    display: block;
}
.flex{
    display:flex;
}
.row{
    flex-direction: row;
}

/* header css */

header {
    font-family: "Montserrat";
    height: 12vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.14vw;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    box-shadow: 0.312rem 0.625rem 0.5rem 0.625rem #C7E7DF;
    z-index: 3;
}

.menu {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.menu-items {
    margin: 0 3vh;
}

.logo {
    display: flex;
    justify-content: center;
}

.menu-right-items {
    width: 20%;
    display: flex;
    justify-content: center;
    font-size: 1.35vw;
}

.fa-user {
    margin-right: 5vh;
}

.little-arrow {
    width: 1.2vh;
    height: 1.2vh;
}

/* home css */


.home-content {
    height: 390vh;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
}
.column{
    flex-direction: column;
}
.home-item {
    grid-auto-columns: 1fr 1fr 1fr 1fr;
    margin: 0;
    align-self: center;
    justify-self: center;
    font-size: 0.52vw;
}

/* background img section css */

.first-item {
    height: 86vh;
    width: 100%;
    background-image: url('imgHeader.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    margin-top: 1.5%; 
}

.first-item-content {
    height: 20vh;
    margin-top: 7%;
    text-align: center;
    font-family: DomaineNaro;
}

.first-item-content h1 {
    font-size: 4.5vw;
    color: #38393A;
    margin-bottom: 8%;
}

.first-item-content h4 {
    color: #38393A;
    margin-bottom: 8%;  
}

.first-item-content button {
    width: 10vw;
    border: solid 3px rgb(203, 208, 219);
    color: rgb(203, 208, 219);
    border-radius: 2px; 
}

.first-item-content a {
    text-decoration: none;
    color: rgb(203, 208, 219);
}

/* news section css */

.news-item {
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-content {
    width: 70%;
    height: 85%;
    display: flex;
    flex-direction: row;
}

.left-side-news {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.left-side-news button {
    width: min-content;
}

.news-title {
    margin-bottom: 6%;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.39vw;
}

.news-text {
    font-size: 0.96vw;
    margin: 0 5%;
}

.news-text a {
    background-color: #C7E7DF; /* Green */
    border: none;
    color: white;
    padding: 9px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.72vw;
    text-transform: uppercase;
}

.right-side-news {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-side-news img {
    height: 33vh;
    width: 23vw;
    box-shadow: 3.75rem 3.75rem #FBF2F3;
}

.underline {
    background-color: #FBF2F3;
    height: 0.54vh;
    width: 70%;
    margin: 0 auto;
    border-radius: 5px;
}

/* lest test section css */

.last-test {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8F8F8;
}

.last-test-content {
    width: 85%;
    height: 90%;
    display: flex;
    flex-direction: column;
}

.last-test-underline {
    background-color: #C9E8E0;
    height: 0.54vh;
    width: 70%;
    margin: 0 auto;
    border-radius: 5px;
}

.my-tests {
    width: 90%;
    height: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.my-test {
    height: 100%;
    width: 25%;
    margin-top: 2%;
    background-color: white;
    box-shadow: 0px 7px 5px #BFDDD6;
}

.my-test img {
    width: 100%;
    height: 40%;
}

.my-test-content {
    width: 70%;
    height: 60%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.my-test-content h4 {
    font-size: 1.6vw;
    margin-bottom: 20%;
}

.my-test-content p {
    font-size: 0.96vw;
}

.my-test-content button {
    background-color: white;
    border: 2px solid #D0EBE4;;
    color: #D0EBE4;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.72vw;
    text-transform: uppercase;
    width: 70%;
    margin-left: 15%;
}

.last-test-title {
    margin: 3% auto 0 auto;
    font-size: 2.4vw;
}

/* tea battle section css */

.battle-item {
    height: 120vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tea-battle-content {
    width: 80%;
    height: 90%;
}

.tea-battle-title {
    font-size: 2.4vw;
    margin-left: 10%;
}

.tea-battle-underline {
    background-color: #C9E8E0;
    height: 5px;
    width: 15%;
    border-radius: 5px;
}

.tea-battle-subtitles {
    font-size: 0.96vw;
    width: 90%;
    margin: 0 auto;
    margin-top: 5%;
}

.tea-battle-articles {
    width: 80%;
    height: 70%;
    margin: 5% 5% 10% 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tea-battle-articles h4 {
    margin-bottom: 10%;
}

.first-article {
    width: 30%;
    height: 80%;
    margin-top: 3%;
    background-color: #F2EFE8;
}

.first-article img {
    width: 100%;
    height: 45%;
    margin-left: 12%;
    margin-top: -10%;
    margin-bottom: 10%;
}

.first-article h4 {
    font-size: 1.9vw;
    margin-left: 5%;
}

.first-article p {
    font-size: 0.96vw;
    margin-left: 5%;
}

.likes {
    background-color: #BBD9D1;
    border: none;
    color: white;
    padding: 10px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.72vw;
    outline: none;
    margin: 37% 0 0% 30%;
}

.second-article {
    width: 30%;
    height: 80%;
    background-color: #F2EFE8;
}

.second-article img {
    width: 110%;
    height: 55%;
    margin-top: 17%;
    margin-left: -20%;
}

.second-article h4 {
    font-size: 1.9vw;
    margin-left: 5%;
    margin-top: 10%;
}

.second-article p {
    font-size: 0.96vw;
    margin-left: 5%;
}

.second-article button {
    border: none;
    color: white;
    padding: 10px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.72vw;
    margin: 5% 0 0 25%;
}

/* receipts section css */

.receipts-item {
    background-color: #F8F8F8;
    height: 95vh;
    width: 100%;
}

.receips-title {
    font-size: 2.8vw;
    text-align: center;
}

.receips-underline {
    background-color: #C9E8E0;
    margin-left: 5%;
    height: 5px;
    width: 10%;
    border-radius: 5px;
    margin: 0 auto;
}

.receips-content {
    height: 70%;
    width: 70%;
    margin: 3% auto auto auto;
    display: flex;
    flex-direction: row;
    box-shadow: 0 20px 3px #C7E7DF;
}

.img-left-side{
    height: 100%;
    width: 60%;
}

.img-left-side img {
    width: 100%;
    height: 100%;
}

.receips-right-side {
    height: 100%;
    width: 40%;
    background-color: white;    
}

.receips-right-side-content {
    height: 90%;
    width: 90%;
    margin: 5% 5% 5% 5%;
}

.receips-right-side h4 {
    font-size: 1.9vw;
    margin-bottom: 8%;
}

.receips-right-side p {
    font-size: 0.96vw;
    margin-bottom: 7%;
}

.receips-right-side h5 {
    font-size: 1.4vw;
}

.receips-right-side li {
    font-size: 0.96vw;
    margin: 2% 0 0 5%;
}

.receips-right-side ul {
    margin-top: 5%;
}
/* blanc section css */


/* footer section css */

.footer-item {
    position: absolute;
    background-color: #F4F4F4;
    height: 40vh;
    width: 100%;
    margin-top: 35%;
}

.footer-content {
    width: 80%;
    height: 80%;
    margin: 2% 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}

.footer-infos {
    height: 100%;
    width: 20%;
}

.footer-content li{
    list-style: none;
    font-size: 0.96vw;
    margin-bottom: 5%;
}

.footer-content p{
    font-size: 0.96vw;
}

.footer-content h4 {
    font-size: 1.9vw;
}

.footer-navigation {
    height: 100%;
    width: 20%;
}

.footer-community {
    height: 100%;
    width: 27%;
}

.footer-community img {
    height: 28%;
    width: 20%;
    margin-right: 4%;
}

.footer-newsletter {
    height: 100%;
    width: 33%;
}

/* login & register css */

.login-content, .register-content, .password-content {
    flex-direction: row;
    width: 58%;
    position: absolute;
    top: 17vh;
    left: 21%;
    z-index: 5;
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.login-left-side, .register-left-side {
    background-color: #C7E7DF;
    text-align: center;
    width: 50%;
}

.login-left-side h1 , .register-left-side h1 {
    margin-top: 5%; 
    text-transform: uppercase;
    color: white;
}

.login-left-side p {
    font-size: 0.96vw;
    margin-top: 5%;
}

.login-right-side {
    background-color: white;
}

.login-right-side h1 {
    margin-top: -10%;
}
.register-right-side h1 {
    margin-top: -22%;
    text-align: center;
}

.login-left-side img , .register-left-side img {
    width: 50%;
    height: 40%;
    margin-top: 15%;
    margin: auto;
}

.btn-login-left-side {
    background-color: transparent;
    border: solid 3px white;
    color: white;
    padding: 12px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.96vw;
    margin: 5% 5% 5% 0;
}

.login-right-side, .register-right-side {
    background-color: white;
    width: 50%;
    height: 70vh;
}

.form-content {
    width: 80%;
    margin-left: 10%;
    margin-top: 16%;
}

.form-content input {
    width: 100%;
    height: 3vh;
    font-size: 0.72vw;
    font-weight: bold;
    text-transform: uppercase;
    border-top: none;
    border-left: none;
    border-right: none;
}

.form-content h1 {
    margin-bottom: 15%; 
    text-align: center;
}

.form-content label {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.94vw;
}

.login-password {
    margin-top: 8%;
    margin-bottom: 15%;
}

.login-right-side .login-password {
    margin: 15% 0;
}

.login-right-side button {
    margin-bottom: 5%;
}

.register-left-side p {
    font-size: 0.96vw;
    margin-top: 5%;
}

.register-left-side .logo {
    margin: auto;
}

.register-left-side .img-theiere {
    margin-top: 8%;
}

.login-left-side .img-theiere {
    margin-top: 8%;
}

.btn-register-left-side {
    background-color: transparent;
    border: solid 3px white;
    color: white;
    padding: 12px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.96vw;
    margin: 10% 5% 5% 0;
}

.form-content button {
    background-color: #BBD9D1;
    border: none;
    color: white;
    padding: 12px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.96vw;
    margin-top: -3%;
}

.login-right-side .form-content button {
    background-color: #BBD9D1;
    border: none;
    color: white;
    padding: 12px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.96vw;
    margin-top: 5%;
    width: 40%;
    margin: auto;
    margin-bottom: 3%;
}

.form-content p {
    font-size: 0.48vw;
}

.login-bot, .register-bot {
    text-align: center;
}

.login-bot {
    display: flex;
    flex-direction: column;
}

.register-password {
    margin-top: 8%;
    margin-bottom: 8%;
}

.register-infos input {
    height: 5vh;
    margin-bottom: 4%;
}

.close-popup {
    height: 10%;
}

.fa-times {
    margin-left: 93%;
    margin-top: 3%;
}

.fa-times:hover {
    font-size: 1vw;
}
/* css du sous menu deroulant actualithé */
.dropdown-menu {
    margin-top: 28%;
    width: 100vw;
    margin-left: -32vw;
    height: 10vh;
}

.dropdown-menu2 {
    margin-top: 32%;
    margin-left: -42vw;
    width: 99vw;  
    height: 18vh; 
}

.dropdown-menu3 {
    margin-left: -83VW;
    width: 99vw;
    margin-top: 86%;
}

.dropdown-menu2 a {
    text-decoration: none;
    color: black;
}

.dropdown-menu.show {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.dropdown-items {
    width: 10%;
    display: flex;
    flex-direction: column;
}



/* css de la page actualithé */

/* css actualithé title */

.actualithe-title {
    margin-top: 3%;
    text-align: center;
}

.underline-actualithe {
    width: 10%;
}

/* css section principal actualithé */

.principal-actualithes {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5%;
    text-align: center; 
}

.principal-actualithes img {
    width: 85vw; 
}

.principal-article-label {
    height: 30vh;
    width: 65%;
    background-color: white;
    position: absolute;
    margin: -10%;
    margin-left: 17.5%;
    border-bottom: 5px solid #FFF4DA;
    border-top: 5px solid #FFF4DA;
    text-align: center;
    padding: 2%;
}

.principal-actualithes-article {
    margin-bottom: 12%;
}

/* css section other actualithes */

.other-actualithes {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: -30%;
}

.other-actualithes-row {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10%;
}

.card { 
    height: 60vh;
    flex-basis: 20%;
    text-align: center;
}

.card img{ 
    background-size: cover;
}

.articles-btn {
    margin-top: 20%;
    width: 50%;
}

/* css article section */

.article-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5%;
    text-align: center; 
}

.article-header img {
    width: 99.13vw; 
}

.article-header-content {
    margin-top: -4.2%;
    margin-bottom: 12%;
}

.article-header-label {
    height: 30vh;
    width: 75%;
    background-color: white;
    position: absolute;
    margin: -10%;
    margin-left: 12.5%;
    border-bottom: 5px solid #FFF4DA;
    border-top: 5px solid #FFF4DA;
    text-align: center;
    padding: 2%;
}

.article-img {
    text-align: center;
}

.article-img img {
    width: 50vw;
    margin-bottom: 5%;
}

.article-content {
    margin: auto;
    width: 50%;
}

.article-content h1{
    text-align: center;
    margin-bottom: 5%;
}

.article-content {
    margin: auto;
    width: 50%;
}

.article-comment {
    width: 50%;
    margin: auto;
    margin-bottom: -30%;
}

.h2-comment {
    margin-top: 10%;
}

.comment-block {
    text-align: center;
}

.article-comments {
    margin-top: 5%;
}

.register-block-button {
    width: 100%;
    height: 25vh;
    margin-top: 10%;
    border: solid #C7E7DF 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.article-comment button {
    background-color: #C7E7DF; /* Green */
    border: none;
    color: white;
    padding: 9px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.72vw;
    text-transform: uppercase;
    width: 20%;
    margin: 0 auto;    
    margin-top: 3%;
}

.card img{
    width: 100%;
    height:50%;
}

/* css profile section */

.profile-content {
    margin: auto;
    margin-top: 5%;
    display: flex;
    width: 70%;
    margin-bottom: -30%;
    flex-direction: column;
    align-items: center;
}

.articles h2 {
    margin-top: 10%;
}

.profile-name {
    margin-right: 35%;
}

.profile-pseudo {
    margin-right: 35%;
}

.passbtn {
    margin-right: 30%;
}

.block-content {
    width: 100%;
    height: 50vh;
}

.profile-name {
    margin-left: 20%;
}

.profile-pseudo {
    margin-left: 20%;
}

.profile-seonds-infos {
    margin-left: 19%;
}

.user-infos {
    border:solid 3px rgb(203, 208, 219);
    width: 45vw;
    border-radius: 10px;
}

.user-infos h2 {
    text-align: center;
    margin: 5% 0;
}

.passbtn {
    margin-bottom: 10px;
    margin-left: 15%;

}

.underline-center {
    margin-bottom: 5%;
}

.cancelbtn {
    margin-left: 20%;
    margin-bottom: 5%;
}

.savebtn {
    margin-left: 40%;
    margin-bottom: 5%;
}

.profile-content input{
    border-radius: 5px;
}

.profile-content textarea{
    border-radius: 5px;
}

.overflow p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.recette{
    display:inline;
}
.highlight{
    background-color:#F8E5E7;
    transition:1s;
}
