*{
    margin: 0;
    padding: 0;
}
small
{
    color: purple;
}
.none{
    display: none;
}
.block{
    display: block;
}
.flex{
    display:flex;
}
.row{
    flex-direction: row;
}
header {
    height: 12vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    box-shadow: 5px 10px 8px 10px #C7E7DF;
    z-index: 3;
}

.menu {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.menu-items {
    margin: 0 3vh;
}

.logo {
    width: 20%;
    display: flex;
    justify-content: center;
}

.menu-right-items {
    width: 20%;
    display: flex;
    justify-content: center;
    font-size: 26px;
}

.fa-user {
    margin-right: 5vh;
}

.little-arrow {
    width: 1.2vh;
    height: 1.2vh;
}

.home-content {
    height: 390vh;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
}

.home-item {
    grid-auto-columns: 1fr 1fr 1fr 1fr;
    margin: 0;
    align-self: center;
    justify-self: center;
    height: 100px;
    font-size: 10px;
    border: solid 2px black;
}

.first-item {
    height: 70vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    z-index: 1;
}

.first-item .left-bloc {
    background-color: #F2EFE8;
}

.first-item .right-bloc {
    background-color: #E9ECE5;
}

.news-item {
    height: 70vh;
    width: 100%;
}

.battle-item {
    height: 120vh;
    width: 100%;
}

.receipts-item {
    height: 95vh;
    width: 100%;
}

.footer-item {
    height: 35vh;
    width: 100%;
}
